@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: #14740f;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}

.btn {
  padding: 10px 0;
  border: none;
  outline: none;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.btn-info {
  color: #FFFFFF;
  background: #17408b;
}

.active {
  background: #14740f;
  padding: 10px;
}

.btn_info {
  cursor: pointer;
  padding: 5px;
  width: 15%;
  background: none;
  border: 1px solid #17408b;
  font-size: 18px;
  transition: 0.5s ease all;
}
.btn_info:hover {
  background: #17408b;
  color: #FFFFFF;
}

.btn_danger {
  cursor: pointer;
  padding: 5px;
  width: 15%;
  background: none;
  border: 1px solid #ff0000ad;
  font-size: 18px;
  transition: 0.5s ease all;
}
.btn_danger:hover {
  background: #ff0000ad;
  color: #FFFFFF;
}

.btn_success {
  cursor: pointer;
  padding: 5px;
  width: 15%;
  background: none;
  border: 1px solid #14740f;
  font-size: 18px;
  transition: 0.5s ease all;
}
.btn_success:hover {
  background: #14740f;
  color: #FFFFFF;
}

.err {
  color: #ff0000ad;
  font-weight: bold;
}

.error {
  border: 2px solid #ff0000ad !important;
}

.alert-warring {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}

.alert-danger {
  font-size: 18px;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.message {
  padding: 1rem 0;
}

.ck-editor__editable {
  padding: 0 2rem !important;
}

.ck-label {
  display: none !important;
}

.contenedor__auth {
  background: #14740f;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor__auth .form__auth {
  background: #fff;
  width: 50%;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}
.contenedor__auth .form__auth .form {
  width: 100%;
  margin: auto;
}
.contenedor__auth .form__auth .form h1 {
  color: #14740f;
  text-align: center;
  margin: 10px 0;
  font-weight: 800;
}
.contenedor__auth .form__auth .form .grupo {
  position: relative;
  margin: 45px;
}
.contenedor__auth .form__auth .form .grupo input {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #49454567;
  resize: none;
}
.contenedor__auth .form__auth .form .grupo input:focus, .contenedor__auth .form__auth .form .grupo input:valid {
  outline: none;
  color: #5e5d5d;
}
.contenedor__auth .form__auth .form .grupo input:focus ~ label, .contenedor__auth .form__auth .form .grupo input:valid ~ label {
  position: absolute;
  top: -14px;
  font-size: 12px;
  color: #2196F3;
}
.contenedor__auth .form__auth .form .grupo input:focus ~ .barra::before, .contenedor__auth .form__auth .form .grupo input:valid ~ .barra::before {
  width: 100%;
}
.contenedor__auth .form__auth .form .grupo .barra {
  position: relative;
  display: block;
  width: 100%;
}
.contenedor__auth .form__auth .form .grupo .barra::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #14740f, #7bfb6a);
  transition: 0.3s ease all;
  left: 0%;
}
.contenedor__auth .form__auth .form .grupo label {
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease all;
  pointer-events: none;
}
.contenedor__auth .form__auth .form .btn_control_auth {
  display: flex;
  justify-content: center;
}
.contenedor__auth .form__auth .form .btn_control_auth > .btn_success {
  width: 30%;
}
.contenedor__auth .form__auth .form .alert {
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
}

header {
  width: 100%;
  height: 100vh;
  background: #14740f;
  background: -webkit-linear-gradient(to right, rgba(20, 117, 15, 0.459), rgba(92, 127, 11, 0.664)), url(../img/portada/portada.jpeg);
  background: linear-gradient(to right, rgba(20, 117, 15, 0.459), rgba(92, 127, 11, 0.664)), url(../img/portada/portada.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  padding: 30px 50px 0 0;
}
header nav > a {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
  margin-right: 10px;
}
header nav > a:hover {
  text-decoration: underline;
}
header .textos-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
header .textos-header h1 {
  animation: headerKey 2s linear;
  font-size: 50px;
  color: #FFF;
}
header .textos-header h1 span {
  font-size: 30px;
}
header .textos-header h2 {
  font-size: 30px;
  font-weight: 300;
  color: #FFF;
}
header .wave {
  height: 150px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 900px) {
  header {
    background-position: center;
  }
}
@media screen and (max-width: 500px) {
  header .textos-header h1 {
    font-size: 40px;
  }
  header .textos-header h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 461px) {
  header nav {
    justify-content: flex-end;
  }
  header nav > a {
    font-size: 17px;
  }
}
@media screen and (max-width: 414px) {
  header nav {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    display: flex;
    justify-content: center;
  }
  header nav a {
    font-size: 16px;
  }
}
@media screen and (max-width: 360px) {
  header nav {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    text-align: center;
  }
  header nav a {
    font-size: 14px;
    text-align: center;
  }
}
.acerca-de .contenedor-acerca-de {
  display: flex;
  justify-content: center;
}
.acerca-de .contenedor-acerca-de .contenido-textos {
  width: 48%;
  display: flex;
  margin: auto;
}
.acerca-de .contenedor-acerca-de .contenido-textos p {
  letter-spacing: 1.5px;
  font-size: 18px;
  text-align: justify;
}
.acerca-de .contenedor-acerca-de .contenido-textos p b span {
  font-size: 15px;
}
.acerca-de .contenedor-acerca-de .imagen-about-us {
  width: 48%;
}

.nuestros-clientes {
  background: url(../img/portada/portada02.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.nuestros-clientes .galeria-clientes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.nuestros-clientes .galeria-clientes .imagen-port {
  background: #FFFFFF;
  width: 24%;
  height: 200px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}
.nuestros-clientes .galeria-clientes .imagen-port > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
.nuestros-clientes .galeria-clientes .imagen-port:hover .hover-galeria {
  transform: scale(1);
}
.nuestros-clientes .galeria-clientes .imagen-port .hover-galeria {
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: #14740fbb;
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nuestros-clientes .galeria-clientes .imagen-port .hover-galeria img {
  width: 150px;
}
.nuestros-clientes .galeria-clientes .imagen-port .hover-galeria p {
  color: #FFF;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .nuestros-clientes {
    background: #F2F2F2;
  }

  .acerca-de .contenedor-acerca-de {
    flex-direction: column;
  }
  .acerca-de .contenedor-acerca-de .contenido-textos {
    width: 95%;
  }
  .acerca-de .contenedor-acerca-de .imagen-about-us {
    width: 100%;
    margin-bottom: 10%;
  }

  .nuestros-clientes .galeria-clientes .imagen-port {
    width: 70%;
  }
}
.show {
  z-index: 10;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.404);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  transform: scale(0);
  transition: transform 0.3s;
}
.show:target {
  transform: scale(1);
}
.show .show__container {
  margin: auto;
  width: 90%;
  height: 70%;
  position: relative;
  background-color: #FFFFFF;
  background-image: url(../img/clientes/logo-sanatorio-agua-dios.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}
.show .show__container .show__close {
  background: crimson;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
  position: absolute;
  right: 0;
  top: -20px;
  right: -20px;
  border-radius: 50%;
}
.show .show--n1 {
  background-image: url(../img/clientes/logo-sanatorio-agua-dios.svg);
}
.show .show--n2 {
  background-image: url(../img/clientes/ComfatolimaLogo.jpg);
}
.show .show--n3 {
  background-image: url(../img/clientes/comfenalco.jpg);
}
.show .show--n4 {
  background-image: url(../img/clientes/gobernacionTolima.png);
}
.show .show--n5 {
  background-image: url(../img/clientes/hospitalSanFranciscoVilladeLeyva.jpeg);
}
.show .show--n6 {
  background-image: url(../img/clientes/corTolima.png);
}
.show .show--n7 {
  background-image: url(../img/clientes/enertolima.png);
}
.show .show--n8 {
  background-image: url(../img/clientes/universidad_del_tolima.png);
}
.show .show--n9 {
  background-image: url(../img/clientes/HospitalSanRafael.png);
}
.show .show--n10 {
  background-image: url(../img/clientes/viva.png);
}

.sobre-nosotros {
  background: #FFFFFF;
}
.sobre-nosotros > .contenedor {
  display: grid;
  grid-template-areas: "titulo titulo" "mision vision" "valores__corporativos valores__corporativos";
  grid-gap: 10px;
}
.sobre-nosotros > .contenedor > .titulo {
  grid-area: titulo;
}
.sobre-nosotros > .contenedor .mision {
  grid-area: mision;
}
.sobre-nosotros > .contenedor .vision {
  grid-area: vision;
}
.sobre-nosotros > .contenedor .subtitulo {
  color: #14740f;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1.5px;
}
.sobre-nosotros > .contenedor p {
  width: 95%;
  margin: auto;
  margin-top: 5%;
  text-align: justify;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 1px;
}
.sobre-nosotros > .contenedor .valores__corporativos {
  grid-area: valores__corporativos;
  display: grid;
  grid-template-areas: "titulo titulo" "imagen texto";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 4fr;
  grid-gap: 10px;
}
.sobre-nosotros > .contenedor .valores__corporativos .subtitulo {
  grid-area: titulo;
  margin-bottom: 5%;
  font-size: 20px;
  letter-spacing: 1.5px;
}
.sobre-nosotros > .contenedor .valores__corporativos .img {
  position: relative;
  grid-area: imagen;
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
}
.sobre-nosotros > .contenedor .valores__corporativos .img .img__item {
  position: absolute;
  top: 0;
  background-image: url(../img/valores_corporativos/Honestidad.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  width: 100%;
  height: 100%;
  animation: img_valores 180s linear alternate 15s infinite;
}
.sobre-nosotros > .contenedor .valores__corporativos .texto {
  grid-area: texto;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
.sobre-nosotros > .contenedor .valores__corporativos .texto h4 {
  color: #14740f;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
}
.sobre-nosotros > .contenedor .valores__corporativos .texto h4::after {
  content: " Honestidad";
  animation: key_valores 180s alternate 15s infinite;
}
.sobre-nosotros > .contenedor .valores__corporativos .texto p {
  font-size: 18px;
  letter-spacing: 1px;
}
.sobre-nosotros > .contenedor .valores__corporativos .texto p::after {
  content: " Los corazones honestos, producen acciones honestas.";
  animation: key_valores_text 180s alternate 15s infinite;
}

.politicas > .contenedor {
  display: grid;
  grid-template-areas: "titulo titulo" "politica__calidad politica__seguridad";
  grid-gap: 10px;
}
.politicas > .contenedor > .titulo {
  grid-area: titulo;
}
.politicas > .contenedor .politica__calidad {
  grid-area: politica__calidad;
}
.politicas > .contenedor .politica__seguridad {
  grid-area: politica__seguridad;
}
.politicas > .contenedor .subtitulo {
  text-align: center;
  color: #14740f;
  font-size: 20px;
  letter-spacing: 1.5px;
}
.politicas > .contenedor p {
  width: 95%;
  margin: auto;
  margin-top: 5%;
  text-align: justify;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 1px;
}

.estados__financieros {
  background: #F2F2F2;
}
.estados__financieros > .contenedor {
  display: grid;
  grid-template-areas: "titulo titulo titulo titulo" "card1 card2 card3 card4" ". estado__comparativo estado__comparativo .";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.estados__financieros > .contenedor > .titulo {
  grid-area: titulo;
}
.estados__financieros > .contenedor .estado__item {
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.estados__financieros > .contenedor .estado__item a {
  padding: 5px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.estados__financieros > .contenedor .estado__item a img {
  width: 50%;
  margin: auto;
}
.estados__financieros > .contenedor .estado__item a span {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #14740f;
}
.estados__financieros > .contenedor .card1 {
  grid-area: card1;
}
.estados__financieros > .contenedor .card2 {
  grid-area: card2;
}
.estados__financieros > .contenedor .card3 {
  grid-area: card3;
}
.estados__financieros > .contenedor .card4 {
  grid-area: card4;
}

.proteccion_datos > .contenedor {
  display: grid;
  grid-template-areas: "titulo" "contenido";
}
.proteccion_datos > .contenedor .titulo {
  grid-area: titulo;
}
.proteccion_datos > .contenedor .contenido {
  display: grid;
  grid-template-areas: "img content";
  grid-template-columns: 1fr 4fr;
  grid-area: contenido;
  align-items: center;
}
.proteccion_datos > .contenedor .contenido img {
  grid-area: img;
  width: 100%;
}
.proteccion_datos > .contenedor .contenido .cont {
  grid-area: content;
}
.proteccion_datos > .contenedor .contenido .cont p {
  text-align: justify;
  font-size: 20px;
}
.proteccion_datos > .contenedor .contenido .cont a {
  text-decoration: underline;
  color: #14740f;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 414px) {
  .sobre-nosotros > .contenedor {
    grid-template-areas: "titulo" "mision" "vision" "valores__corporativos";
  }
  .sobre-nosotros > .contenedor .valores__corporativos {
    grid-template-areas: "titulo titulo" "imagen imagen" "texto texto";
  }
  .sobre-nosotros > .contenedor .valores__corporativos .subtitulo {
    text-align: center;
  }

  .politicas > .contenedor {
    grid-template-areas: "titulo" "politica__calidad" "politica__seguridad";
  }

  .estados__financieros > .contenedor {
    display: grid;
    grid-template-areas: "titulo" "card1" "card2" "card3" "card4";
    grid-template-columns: 1fr;
    grid-template-rows: 50px repeat(4, 1fr);
  }

  .proteccion_datos > .contenedor .contenido {
    grid-template-areas: "img" "content";
    grid-template-columns: 1fr;
  }
  .proteccion_datos > .contenedor .contenido img {
    width: 50%;
    margin: auto;
  }
}
.que__hacemos {
  background: #FFFFFF;
}
.que__hacemos .card__copy {
  margin-top: 20px;
  background: #ff0000ad;
}
.que__hacemos .card__container {
  width: 99%;
  margin: 0 auto;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  grid-template-areas: ".          card1            ." "card2      card1        card3" "card2      card4        card3" ".          card4            ." "card5      card6        card7" "card5      card6        card7" ".          card8            ." "card9      card8       card10" "card9        .         card10";
}
.que__hacemos .card__container .card__item {
  padding: 20px;
  background: #FFFFFF;
  border-top: 5px solid #14740f;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.que__hacemos .card__container .card__item .card__img {
  background: #14740f;
  margin-top: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.que__hacemos .card__container .card__item .card__title {
  margin: 20px 0;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1.5px;
}
.que__hacemos .card__container .card__item .card__paragraph {
  padding: 10px;
  text-align: justify;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.que__hacemos .card__container .card__item:first-of-type {
  grid-area: card1;
}
.que__hacemos .card__container .card__item:nth-of-type(2) {
  grid-area: card2;
}
.que__hacemos .card__container .card__item:nth-of-type(3) {
  grid-area: card3;
}
.que__hacemos .card__container .card__item:nth-of-type(4) {
  grid-area: card4;
}
.que__hacemos .card__container .card__item:nth-of-type(5) {
  grid-area: card5;
}
.que__hacemos .card__container .card__item:nth-of-type(6) {
  grid-area: card6;
}
.que__hacemos .card__container .card__item:nth-of-type(7) {
  grid-area: card7;
}
.que__hacemos .card__container .card__item:nth-of-type(8) {
  grid-area: card8;
}
.que__hacemos .card__container .card__item:nth-of-type(9) {
  grid-area: card9;
}
.que__hacemos .card__container .card__item:last-of-type {
  grid-area: card10;
}

@media screen and (max-width: 900px) {
  .que__hacemos .card__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "card1 card2" "card3 card4" "card5 card6" "card7 card8" "card9 card10";
  }
}
@media screen and (max-width: 750px) {
  .que__hacemos .card__container {
    grid-template-columns: 1fr;
    grid-template-areas: "card1" "card2" "card3" "card4" "card5" "card6" "card7" "card8" "card9" "card10";
  }
}
@media screen and (max-width: 414px) {
  .que__hacemos .card__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 2fr);
    grid-template-areas: "card1" "card2" "card3" "card4" "card5" "card6" "card7" "card8" "card9" "card10";
  }
}
.projects {
  background: #f2f2f2;
  background: linear-gradient(180deg, #f2f2f2 0%, white 100%, white 100%);
}
.projects .contenedor-projects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
.projects .contenedor-projects .project__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}
.projects .contenedor-projects .project__item figure img {
  width: 100%;
}
.projects .contenedor-projects .project__item .project_title {
  text-align: center;
  margin: 5% 0;
}
.projects .contenedor-projects .project__item .project__paragraph {
  text-align: justify;
}
.projects .contenedor-projects .project__item button {
  width: 60%;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .projects .contenedor-projects {
    flex-direction: column;
  }
  .projects .contenedor-projects .project__item {
    width: 100%;
    margin-bottom: 10%;
  }
}
.title__section {
  color: #14740f;
  width: 100%;
  text-align: center;
  padding: 60px 30px;
}

.section__innova {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section__uno {
  background: #F2F2F2;
  height: 100vh;
}
.section__uno > nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  text-align: right;
  padding: 30px 50px 0 0;
}
.section__uno > nav > a {
  color: #000000;
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
  margin-right: 10px;
}
.section__uno > nav > a.active {
  color: #FFFFFF;
}
.section__uno > nav > a:hover {
  text-decoration: underline;
}
.section__uno h1 {
  text-align: center;
  margin-top: 5%;
  text-transform: uppercase;
  color: #14740f;
}
.section__uno .cont__innnovacion {
  width: 90%;
  margin: auto;
  margin-top: 5%;
  display: flex;
  gap: 20px;
}
.section__uno .cont__innnovacion figure {
  width: 50%;
}
.section__uno .cont__innnovacion figure img {
  width: 80%;
}
.section__uno .cont__innnovacion .description {
  margin: auto;
  padding: 20px;
  width: 50%;
  text-align: justify;
}
.section__uno .cont__innnovacion .description p {
  font-size: 20px;
}

.section__dos {
  background: #f2f2f2;
  background: linear-gradient(180deg, #f2f2f2 0%, white 100%, white 100%);
  min-height: 100vh;
}
.section__dos .galeria_innova {
  width: 95%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}
.section__dos .galeria_innova .galeria__innova__item {
  width: calc( 100% / 3 - 10px );
  position: relative;
}
.section__dos .galeria_innova .galeria__innova__item .galeria__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section__dos .galeria_innova .galeria__innova__item .galeria__title {
  position: absolute;
  bottom: 0;
  color: #FFFFFF;
  background: linear-gradient(rgba(255, 255, 255, 0), black);
  width: 100%;
  margin: 0;
  padding: 10px;
}

@media (max-width: 768px) {
  .galeria_innova {
    gap: 20px;
  }
  .galeria_innova .galeria__innova__item {
    width: calc( 100% / 2 - 10px ) !important;
  }
}
@media (max-width: 461) {
  .section__innova > nav {
    background: red !important;
  }
}
@media (max-width: 414px) {
  .galeria_innova .galeria__innova__item {
    width: calc( 100% / 1 - 10px ) !important;
  }
}
@media (max-width: 411px) {
  .galeria_innova .galeria__innova__item {
    width: calc( 100% / 1 - 10px ) !important;
  }
}
@media (max-width: 360px) {
  .galeria_innova {
    flex-direction: column;
  }
  .galeria_innova .galeria__innova__item {
    width: 100% !important;
  }
}
:root {
  --clip: circle(0 at top right);
  --show: scale(0);
  --transitionModal: .5s transform;
  --transitionBackground: 1s .5s clip-path;
}

.modal {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.76);
  display: flex;
  clip-path: var(--clip);
  transition: var(--transitionBackground);
}
.modal:target {
  --clip: circle(150% at top right);
  --show: scale(1);
  --transitionModal: .5s 1s transform;
  --transitionBackground: 1s clip-path;
}
.modal .modal__container {
  margin: auto;
  background: #fff;
  width: 90%;
  max-width: 1200px;
  min-height: 70%;
  display: grid;
  grid-template-columns: 4fr repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  position: relative;
  transform: var(--show);
  transition: var(--transitionModal);
}
.modal .modal__container .modal__close {
  position: absolute;
  background: crimson;
  color: #fff;
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  top: 0;
  right: 0;
  font-family: sans-serif;
  font-weight: bold;
}
.modal .modal__container .modal__img {
  grid-row: 1/-1;
  grid-column: 1/4;
  width: 90%;
  place-self: center;
}
.modal .modal__container .modal__texts {
  grid-row: 2/-2;
  grid-column: 4/-2;
  place-self: center;
  display: grid;
  gap: 20px;
  justify-items: start;
  text-align: center;
}
.modal .modal__container .modal__texts .modal__title {
  font-size: 2rem;
  text-align: center;
}
.modal .modal__container .modal__texts .modal__paragraph {
  padding: 10px;
  font-size: 1rem;
  text-align: justify;
}

@media screen and (max-width: 900px) {
  .modal .modal__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img" "texto";
  }
  .modal .modal__container .modal__img {
    margin-top: 10%;
    grid-area: img;
  }
  .modal .modal__container .modal__texts {
    grid-area: texto;
  }
  .modal .modal__container .modal__texts .modal__title {
    text-align: center;
  }
}
footer {
  background: #14740f;
  padding: 100px 0 50px;
  margin: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
footer a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
}
footer .contenedor-footer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
footer .contenedor-footer .content-foo {
  font-size: 18px;
  text-align: center;
  margin-bottom: 2%;
  color: #FFFFFF;
}
footer .contenedor-footer .content-foo h4 {
  letter-spacing: 1.5px;
  text-transform: capitalize;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
footer .contenedor-footer .content-foo p {
  letter-spacing: 1px;
}
footer .footer__social {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  flex-wrap: wrap;
}
footer .footer__social .footer__link {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer__social .footer__link:first-of-type {
  background: #2f4d84;
}
footer .footer__social .footer__link:nth-of-type(2) {
  background: #C4302B;
}
footer .footer__social .footer__link:last-of-type {
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
}
footer .footer__social .footer__link .footer__icon {
  margin: 30px;
}
footer .titulo-final {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #FFFFFF;
}

@keyframes headerKey {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes key_valores {
  0% {
    content: " Honestidad";
  }
  9% {
    content: " Fe";
  }
  18% {
    content: " Paciencia";
  }
  27% {
    content: " Respeto";
  }
  36% {
    content: " Alegria";
  }
  45% {
    content: " Amabilidad";
  }
  54% {
    content: " Amor";
  }
  63% {
    content: " Dominio Propio";
  }
  72% {
    content: " Felicidad";
  }
  81% {
    content: " Paz";
  }
  90% {
    content: " Bondad";
  }
  100% {
    content: " Tolerancia";
  }
}
@keyframes key_valores_text {
  0% {
    content: " Los corazones honestos, producen acciones honestas.";
  }
  9% {
    content: " Pero que pida con fe, sin dudar, porque quien duda es como las olas del mar agitadas y llevadas de un lado a otro por el viento. (Lucas 8:16)";
  }
  18% {
    content: ' La paciencia no es simplemente la capacidad de esperar. es cómo nos comportamos mientras esperamos "Joyce Meyer"';
  }
  27% {
    content: " El respeto por los otros es la primera condición para sobre vivir. Por eso ser brillante no es una gran hazaña si no existe el respeto";
  }
  36% {
    content: ' Cuán bueno hace al hombre la dicha! parece que uno quisiera dar su corazón. su alegria. ¡Y la alegria es contagiosa! "Dostoievski"';
  }
  45% {
    content: " Panal de miel son las palabras amables: endulzan la vida y dan salud al cuerpo. (Prove. 16:24)";
  }
  54% {
    content: " El amor no es celoso. no busca sus propios intereses. no se siente provocado. no lleva cuenta del año. No se regocija por la injusticia. si no que se regocija con la verdad (Cor 13:4-8)";
  }
  63% {
    content: ' La verdad libertad consiste en el dominio absoluto de si mismo. "Michael Eyquen"';
  }
  72% {
    content: ' La felicidad generalmente no se logra con grandes golpes de suerte. que pueden ocurrir pocas veces. sino con pequeñas cosas que ocurren todos los dias. "Benjamin Franklin".';
  }
  81% {
    content: " Mientras mas paz albergues en ti. mayor sera tu fortaleza. apártate del mal y haz el bien. busca la paz y siguela. (Salmo 34:14)";
  }
  90% {
    content: ' Nadie puede hacer el bien en un espacio de su vida. mientras hace daño en otro. La vida es un todo invisible "Mahatma Gandhi"';
  }
  100% {
    content: ' Puesto que yo soy imperfecto y necesito la tolerancia y la banda de los demás. tambien he de tolerar los defectos del mundo hasta que pueda encontrar el secreto que me permita ponerles remedio. "Mahatma Gandhi"';
  }
}
@keyframes img_valores {
  0% {
    background-image: url(../img/valores_corporativos/Honestidad.jpg);
  }
  9% {
    background-image: url(../img/valores_corporativos/fe.jpg);
  }
  18% {
    background-image: url(../img/valores_corporativos/paciencia.png);
  }
  27% {
    background-image: url(../img/valores_corporativos/respeto.png);
  }
  36% {
    background-image: url(../img/valores_corporativos/alegria.jpg);
  }
  45% {
    background-image: url(../img/valores_corporativos/amabilidad.png);
  }
  54% {
    background-image: url(../img/valores_corporativos/amor.jpg);
  }
  63% {
    background-image: url(../img/valores_corporativos/dominioPropio.png);
  }
  72% {
    background-image: url(../img/valores_corporativos/felicidad.png);
  }
  81% {
    background-image: url(../img/valores_corporativos/paz.png);
  }
  90% {
    background-image: url(../img/valores_corporativos/bondad.png);
  }
  100% {
    background-image: url(../img/valores_corporativos/tolerancia.png);
  }
}
.container-dashboard {
  display: grid;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  grid-template-areas: "header main main" "header contenido contenido" "header contenido contenido";
  grid-template-columns: 2fr 6fr 3fr;
  grid-template-rows: 1fr 11fr;
  grid-row-gap: 10px;
}
.container-dashboard .dashboard-header {
  grid-area: header;
  background: #14740f;
}
.container-dashboard main {
  grid-area: main;
  background: #FFFFFF;
  box-shadow: 0px 3px 5px 0px #a8a6a6;
}
.container-dashboard .content-dashboard {
  grid-area: contenido;
}

.dashboard-header {
  display: flex;
  flex-direction: column;
}
.dashboard-header .logo {
  background: #FFFFFF;
  width: 50%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 5%;
}
.dashboard-header .logo img {
  width: 100%;
}
.dashboard-header ul {
  background: #14740fbb;
  display: flex;
  flex-direction: column;
}
.dashboard-header ul li {
  list-style: none;
  display: block;
  cursor: pointer;
}
.dashboard-header ul li a {
  display: block;
  padding: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-decoration: none;
}
.dashboard-header ul li a:hover {
  cursor: pointer;
  background: #1c550b;
}
.dashboard-header ul li a.active {
  background: #1c550b;
  color: #FFFFFF;
}

.container-dashboard main {
  display: flex;
}
.container-dashboard main .main {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-dashboard main .main button {
  width: 10%;
}
.container-dashboard main .main h3 {
  color: #14740f;
}

.container-dashboard .content-dashboard {
  background: #FFFFFF;
  box-shadow: 0px 1px 5px 0px #a8a6a6;
  width: 97%;
  margin: auto;
  margin-top: 1%;
  overflow-y: auto;
  height: 86vh;
}
.container-dashboard .content-dashboard .dashboard__cont {
  width: 70%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.container-dashboard .content-dashboard .dashboard__cont .controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 5%;
}
.container-dashboard .content-dashboard .dashboard__cont .ctr_M_V {
  width: 60%;
}
.container-dashboard .content-dashboard .dashboard__cont .ctr_M_V > article {
  padding: 5px;
  text-align: justify;
}
.container-dashboard .content-dashboard .dashboard__cont .ctr_M_V > textarea {
  text-align: left;
  font-size: 15px;
  max-width: 100%;
  min-width: 100%;
  min-height: 200px;
  max-height: 200px;
  border: 2px solid #D3D3D3;
  padding: 10px 20px;
}
.container-dashboard .content-dashboard .dashboard__cont .ctr_M_V > textarea:focus {
  outline: none;
  border: 2px solid #14740f;
}
.container-dashboard .content-dashboard .dashboard__cont .ctr_M_V .controls-button {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}

.container-dashboard .content-dashboard .dashboard__cont .control_Footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.container-dashboard .content-dashboard .dashboard__cont .control_Footer > .form__group {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}
.container-dashboard .content-dashboard .dashboard__cont .control_Footer > .form__group label {
  font-size: 18px;
}
.container-dashboard .content-dashboard .dashboard__cont .control_Footer > .form__group input {
  padding: 5px;
}
.container-dashboard .content-dashboard .dashboard__cont .control_Footer > .form__group:nth-of-type(8) {
  width: 80%;
}
.container-dashboard .content-dashboard .dashboard__cont .control_Footer .controls-button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-dashboard .content-dashboard .dashboard__cont .control_Footer .controls-button button {
  margin: 0 5%;
}

.container-dashboard .content-dashboard .dashboard__cont .controls_politicas {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 5%;
}
.container-dashboard .content-dashboard .dashboard__cont .ctr_p {
  width: 60%;
}
.container-dashboard .content-dashboard .dashboard__cont .ctr_p > article {
  padding: 5px;
  text-align: justify;
}
.container-dashboard .content-dashboard .dashboard__cont .ctr_p > textarea {
  text-align: left;
  font-size: 15px;
  padding: 10px;
  max-width: 100%;
  max-height: 200px;
  min-width: 100%;
  min-height: 200px;
  border: 2px solid #D3D3D3;
}
.container-dashboard .content-dashboard .dashboard__cont .ctr_p > textarea:focus {
  outline: none;
  border: 2px solid #14740f;
}
.container-dashboard .content-dashboard .dashboard__cont .ctr_p .controls-button {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}

.container-dashboard .content-dashboard .dashboard__cont .control_Proteccion {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.container-dashboard .content-dashboard .dashboard__cont .control_Proteccion > .proteccion_group {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}
.container-dashboard .content-dashboard .dashboard__cont .control_Proteccion > .proteccion_group label {
  font-size: 18px;
  margin-bottom: 1%;
}
.container-dashboard .content-dashboard .dashboard__cont .control_Proteccion > .proteccion_group input {
  padding: 5px;
  font-size: 15px;
}
.container-dashboard .content-dashboard .dashboard__cont .control_Proteccion > .proteccion_group textarea {
  width: 100%;
  text-align: justify;
  padding: 10px 20px;
  min-height: 180px;
  max-height: 180px;
  max-width: 100%;
  min-width: 100%;
}
.container-dashboard .content-dashboard .dashboard__cont .control_Proteccion .btn_control {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-dashboard .content-dashboard .dashboard__cont .control_Proteccion .btn_control button {
  margin: 0 5%;
}

.container-dashboard .content-dashboard .dashboard__cont .controls_estados {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados_cont {
  display: flex;
  flex-direction: column;
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados_cont .estados_group {
  width: 60%;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados_cont .estados_group label {
  font-size: 18px;
  margin-bottom: 1%;
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados_cont .estados_group input {
  padding: 10px;
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados_cont .estados_group input:focus {
  outline: none;
  border: 2px solid #14740f;
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados_cont .controls-button {
  display: flex;
  justify-content: center;
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados__grid {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados__grid .item_estado {
  width: 45%;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados__grid .item_estado a {
  padding: 5px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados__grid .item_estado a img {
  width: 50%;
  margin: auto;
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados__grid .item_estado a span {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #14740f;
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados__grid .item_estado button {
  width: 50%;
  margin: 5% auto;
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados__grid .item_estado .edit_estado {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados__grid .item_estado .edit_estado div {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  margin-bottom: 4%;
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados__grid .item_estado .edit_estado div input {
  padding: 5px;
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados__grid .item_estado .edit__estados_F {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 5%;
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados__grid .item_estado .edit__estados_F div {
  margin: auto;
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados__grid .item_estado:first-of-type {
  grid-area: estado1;
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados__grid .item_estado:nth-of-type(2) {
  grid-area: estado2;
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados__grid .item_estado:nth-of-type(3) {
  grid-area: estado3;
}
.container-dashboard .content-dashboard .dashboard__cont .controls_estados .estados__grid .item_estado:last-of-type {
  grid-area: estado4;
}

.container-dashboard .content-dashboard .dashboard__cont .btn_control_innovacion {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2%;
}
.container-dashboard .content-dashboard .dashboard__cont .contenido__innovacion {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2%;
}
.container-dashboard .content-dashboard .dashboard__cont .contenido__innovacion input[type=file] {
  display: none;
}
.container-dashboard .content-dashboard .dashboard__cont .contenido__innovacion img {
  width: 45%;
}
.container-dashboard .content-dashboard .dashboard__cont .contenido__innovacion p {
  width: 50%;
  text-align: justify;
}
.container-dashboard .content-dashboard .dashboard__cont .contenido__innovacion textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 150px;
  padding: 10px 20px;
  font-size: 15px;
  text-align: justify;
  border: 2px solid #D3D3D3;
}
.container-dashboard .content-dashboard .dashboard__cont .contenido__innovacion textarea:focus {
  outline: none;
  border: 2px solid #14740f;
}
.container-dashboard .content-dashboard .dashboard__cont .contenido__innovacion_ed {
  flex-direction: column;
}
.container-dashboard .content-dashboard .dashboard__cont .contenido__innovacion_ed div {
  width: 100%;
}
.container-dashboard .content-dashboard .dashboard__cont .contenido__innovacion_ed div p {
  width: 100%;
}
.container-dashboard .content-dashboard .dashboard__cont .contenido__innovacion_ed label {
  margin-bottom: 2%;
  width: 10%;
  display: flex;
  justify-content: center;
}
.container-dashboard .content-dashboard .dashboard__cont .contenido__innovacion_ed label img {
  margin: auto;
}
.container-dashboard .content-dashboard .dashboard__cont input {
  width: 100%;
  margin: auto;
  margin-bottom: 2%;
  padding: 10px;
  border: 2px solid #D3D3D3;
}
.container-dashboard .content-dashboard .dashboard__cont input:focus {
  outline: none;
  border: 2px solid #14740f;
}
.container-dashboard .content-dashboard .dashboard__cont .up_gal_innovacion {
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}
.container-dashboard .content-dashboard .dashboard__cont .up_gal_innovacion label {
  display: flex;
  width: 25%;
  vertical-align: middle;
  align-items: center;
}
.container-dashboard .content-dashboard .dashboard__cont .up_gal_innovacion label span {
  margin: 0 5px;
}
.container-dashboard .content-dashboard .dashboard__cont .up_gal_innovacion label img {
  width: 18%;
}
.container-dashboard .content-dashboard .dashboard__cont .up_gal_innovacion input[type=file] {
  display: none;
}
.container-dashboard .content-dashboard .dashboard__cont .up_gal_innovacion .btn_success {
  width: 5%;
}
.container-dashboard .content-dashboard .dashboard__cont .gal__innovacion {
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
}
.container-dashboard .content-dashboard .dashboard__cont .gal__innovacion img {
  width: 45%;
}

.container-dashboard .content-dashboard .dashboard__cont .container__projects {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}
.container-dashboard .content-dashboard .dashboard__cont .container__projects .container_project {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.75);
  padding: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container-dashboard .content-dashboard .dashboard__cont .container__projects .container_project h2 {
  color: #14740f;
  text-align: center;
}
.container-dashboard .content-dashboard .dashboard__cont .container__projects .container_project input[type=text] {
  width: 100%;
  padding: 5px;
}
.container-dashboard .content-dashboard .dashboard__cont .container__projects .container_project img {
  width: 100%;
}
.container-dashboard .content-dashboard .dashboard__cont .container__projects .container_project .cont_group_project {
  display: flex;
  flex-direction: column;
}
.container-dashboard .content-dashboard .dashboard__cont .container__projects .container_project .cont_group_project label {
  padding: 5px;
}
.container-dashboard .content-dashboard .dashboard__cont .container__projects .container_project .cont_group_project article {
  text-align: justify;
  margin: auto;
  padding: 5px;
}
.container-dashboard .content-dashboard .dashboard__cont .container__projects .container_project .cont_group_project textarea {
  padding: 15px;
  text-align: justify;
  font-size: 15px;
  max-width: 100%;
  min-width: 100%;
  max-height: 150px;
  min-height: 150px;
}
.container-dashboard .content-dashboard .dashboard__cont .container__projects .container_project > .btn__controls {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-dashboard .content-dashboard .dashboard__cont .container__projects .container_project > .btn__controls .btn_info,
.container-dashboard .content-dashboard .dashboard__cont .container__projects .container_project > .btn__controls .btn_danger,
.container-dashboard .content-dashboard .dashboard__cont .container__projects .container_project > .btn__controls .btn_success {
  margin: 0 5px;
  width: 15%;
}
.container-dashboard .content-dashboard .dashboard__cont .container__projects .project_add_form {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container-dashboard .content-dashboard .dashboard__cont .container__projects .project_add_form .form_add_group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container-dashboard .content-dashboard .dashboard__cont .container__projects .project_add_form .form_add_group label img {
  width: 10%;
}
.container-dashboard .content-dashboard .dashboard__cont .container__projects .project_add_form .form_add_group input[type=file] {
  display: none;
}
.container-dashboard .content-dashboard .dashboard__cont .container__projects .project_add_form .form_add_group input[type=text] {
  padding: 5px;
  font-size: 18px;
}
.container-dashboard .content-dashboard .dashboard__cont .container__projects .project_add_form .form_add_group textarea {
  text-align: left;
  font-size: 15px;
  padding: 10px;
  max-width: 500px;
  min-width: 100%;
  max-height: 100px;
  min-height: 100px;
}
.container-dashboard .content-dashboard .dashboard__cont .container__projects .project_add_form .form_add_group span {
  font-size: 18px;
}
.container-dashboard .content-dashboard .dashboard__cont .container__projects .project_add_form .form_btn_group {
  margin-bottom: 20%;
}

.container-dashboard .content-dashboard .dashboard__cont .container_add_que_hacemos {
  width: 95%;
  margin: auto;
  margin-bottom: 5%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.container-dashboard .content-dashboard .dashboard__cont .container_add_que_hacemos .group-form {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.container-dashboard .content-dashboard .dashboard__cont .container_add_que_hacemos .group-form input {
  width: 100%;
  padding: 10px;
}
.container-dashboard .content-dashboard .dashboard__cont .container_add_que_hacemos .group-form-btn {
  width: 95%;
  margin: auto;
}
.container-dashboard .content-dashboard .dashboard__cont .container_edit_que_hacemos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
.container-dashboard .content-dashboard .dashboard__cont .container_edit_que_hacemos .item_que_hacemos {
  width: 47%;
  padding: 20px;
  background: #FFFFFF;
  border-top: 5px solid #14740f;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-dashboard .content-dashboard .dashboard__cont .container_edit_que_hacemos .item_que_hacemos .group_que_hacemos {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container-dashboard .content-dashboard .dashboard__cont .container_edit_que_hacemos .item_que_hacemos .group_que_hacemos .card__img {
  background: #14740f;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 5%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-dashboard .content-dashboard .dashboard__cont .container_edit_que_hacemos .item_que_hacemos .group_que_hacemos h2 {
  font-size: 25px !important;
  text-align: center;
}
.container-dashboard .content-dashboard .dashboard__cont .container_edit_que_hacemos .item_que_hacemos .group_que_hacemos article {
  padding: 2rem;
  width: 95%;
  text-align: justify;
  font-size: 18px;
}
.container-dashboard .content-dashboard .dashboard__cont .container_edit_que_hacemos .item_que_hacemos .group_que_hacemos input[type=text] {
  padding: 10px;
  margin-bottom: 5%;
}
.container-dashboard .content-dashboard .dashboard__cont .container_edit_que_hacemos .item_que_hacemos .group__btn_que_hacemos {
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.container-dashboard .content-dashboard .dashboard__cont .container_edit_que_hacemos .item_que_hacemos .group__btn_que_hacemos .btn_info,
.container-dashboard .content-dashboard .dashboard__cont .container_edit_que_hacemos .item_que_hacemos .group__btn_que_hacemos .btn_danger {
  margin: 0 5%;
  width: 30%;
}

/*# sourceMappingURL=styles.css.map */
