* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: #14740f;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

.btn {
  padding: 10px 0;
  border: none;
  outline: none;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.btn-info {
  color: #FFFFFF;
  background: #17408b;
}

header {
  width: 100%;
  height: 100vh;
  background: #14740f;
  background: -webkit-linear-gradient(to right, rgba(20, 117, 15, 0.459), rgba(92, 127, 11, 0.664)), url(../img/portada/portada01.jpg);
  background: linear-gradient(to right, rgba(20, 117, 15, 0.459), rgba(92, 127, 11, 0.664)), url(../img/portada/portada01.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
header nav {
  text-align: right;
  padding: 30px 50px 0 0;
}
header nav > a {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
  margin-right: 10px;
}
header nav > a:hover {
  text-decoration: underline;
}
header .textos-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
header .textos-header h1 {
  font-size: 50px;
  color: #FFF;
}
header .textos-header h1 span {
  font-size: 30px;
}
header .textos-header h2 {
  font-size: 30px;
  font-weight: 300;
  color: #FFF;
}
header .wave {
  height: 150px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 900px) {
  header {
    background-position: center;
  }
}
@media screen and (max-width: 500px) {
  header .textos-header h1 {
    font-size: 40px;
  }
  header .textos-header h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 414px) {
  header nav {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    display: flex;
    justify-content: center;
  }
  header nav a {
    font-size: 16px;
  }
}
@media screen and (max-width: 360px) {
  header nav {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  header nav a {
    font-size: 14px;
    text-align: center;
  }
}
.acerca-de .contenedor-acerca-de {
  display: flex;
  justify-content: center;
}
.acerca-de .contenedor-acerca-de .contenido-textos {
  width: 48%;
  display: flex;
  margin: auto;
}
.acerca-de .contenedor-acerca-de .contenido-textos p {
  font-size: 18px;
  text-align: justify;
}
.acerca-de .contenedor-acerca-de .contenido-textos p b span {
  font-size: 15px;
}
.acerca-de .contenedor-acerca-de .imagen-about-us {
  width: 48%;
}

.nuestros-clientes {
  background: #FFFFFF;
}
.nuestros-clientes .galeria-clientes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.nuestros-clientes .galeria-clientes .imagen-port {
  width: 24%;
  height: 200px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}
.nuestros-clientes .galeria-clientes .imagen-port > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
.nuestros-clientes .galeria-clientes .imagen-port:hover .hover-galeria {
  transform: scale(1);
}
.nuestros-clientes .galeria-clientes .imagen-port .hover-galeria {
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: #14740fbb;
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nuestros-clientes .galeria-clientes .imagen-port .hover-galeria img {
  width: 150px;
}
.nuestros-clientes .galeria-clientes .imagen-port .hover-galeria p {
  color: #FFF;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .acerca-de .contenedor-acerca-de {
    flex-direction: column;
  }
  .acerca-de .contenedor-acerca-de .contenido-textos {
    width: 95%;
  }
  .acerca-de .contenedor-acerca-de .imagen-about-us {
    width: 100%;
    margin-bottom: 10%;
  }

  .nuestros-clientes .galeria-clientes .imagen-port {
    width: 70%;
  }
}
.show {
  z-index: 10;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.404);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  transform: scale(0);
  transition: transform 0.3s;
}
.show:target {
  transform: scale(1);
}
.show .show__container {
  margin: auto;
  width: 90%;
  height: 70%;
  position: relative;
  background-color: #FFFFFF;
  background-image: url(../img/clientes/logo-sanatorio-agua-dios.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}
.show .show__container .show__close {
  background: crimson;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
  position: absolute;
  right: 0;
  top: -20px;
  right: -20px;
  border-radius: 50%;
}
.show .show--n1 {
  background-image: url(../img/clientes/logo-sanatorio-agua-dios.svg);
}
.show .show--n2 {
  background-image: url(../img/clientes/ComfatolimaLogo.jpg);
}
.show .show--n3 {
  background-image: url(../img/clientes/comfenalco.jpg);
}
.show .show--n4 {
  background-image: url(../img/clientes/gobernacionTolima.png);
}
.show .show--n5 {
  background-image: url(../img/clientes/hospitalSanFranciscoVilladeLeyva.jpeg);
}
.show .show--n6 {
  background-image: url(../img/clientes/corTolima.png);
}
.show .show--n7 {
  background-image: url(../img/clientes/enertolima.png);
}
.show .show--n8 {
  background-image: url(../img/clientes/universidad_del_tolima.png);
}
.show .show--n9 {
  background-image: url(../img/clientes/HospitalSanRafael.png);
}
.show .show--n10 {
  background-image: url(../img/clientes/viva.png);
}

footer {
  background: #cecedd;
  padding: 160px 0 50px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  background: #FFFFFF;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}
footer .contenedor-footer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
footer .contenedor-footer .content-foo {
  text-align: center;
  margin-bottom: 2%;
  color: #14740f;
}
footer .contenedor-footer .content-foo h4 {
  padding-bottom: 5px;
  margin-bottom: 10px;
}
footer .contenedor-footer .content-foo .p-email::after {
  content: " info@energyt.co";
}
footer .footer__social {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  flex-wrap: wrap;
}
footer .footer__social .footer__link {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer__social .footer__link:first-of-type {
  background: #2f4d84;
}
footer .footer__social .footer__link:nth-of-type(2) {
  background: #C4302B;
}
footer .footer__social .footer__link:last-of-type {
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
}
footer .footer__social .footer__link .footer__icon {
  margin: 30px;
}
footer .titulo-final {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #14740f;
}

/*# sourceMappingURL=styles.css.map */
