.container-dashboard
    display: grid
    width: 100vw
    max-width: 100vw
    min-height: 100vh
    grid-template-areas: "header main main" "header contenido contenido" "header contenido contenido"
    grid-template-columns: 2fr 6fr 3fr
    grid-template-rows: 1fr 11fr
    grid-row-gap: 10px
    .dashboard-header
        grid-area: header
        background: $verde
    main
        grid-area: main
        background: #FFFFFF
        box-shadow: 0px 3px 5px 0px $gris-shadow
    .content-dashboard
        grid-area: contenido
        .dashboard-container
            background: #FFFFFF
            box-shadow: 0px 1px 5px 0px $gris-shadow
            width: 97%
            margin: auto
            margin-top: 1%
            overflow-y: auto
            height: 86vh
            .dashboard__cont
                width: 70%
                margin: auto
                margin-top: 5%
                display: flex
                flex-direction: column
                .controls
                    display: flex
                    flex-direction: column
                    justify-content: space-evenly
                    margin-bottom: 5%
                    h2
                        margin-top: 2%
                    .controls-button
                        display: flex
                        justify-content: space-evenly
                        margin-top: 2%
                    textarea
                        text-align: left
                        font-size: 15px
                        padding: 10px
                        max-width: 100%
                        max-height: 100px
                        min-width: 100%
                        min-height: 100px
                    article
                        width: 100%
                        text-align: justify
                .form_control
                    display: flex
                    justify-content: space-evenly
                    flex-wrap: wrap
                    .form__group
                        width: 45%
                        display: flex
                        flex-direction: column
                        margin-bottom: 2%
                        label
                            font-size: 18px
                        input
                            padding: 5px
                        &:nth-of-type(8)                            
                            width: 80%
                    .controls-button
                        width: 100%
                        display: flex
                        justify-content: center
                        button
                            margin: 0 5%
                .controls
                    .control_Proteccion
                        display: flex
                        flex-direction: column
                        .proteccion_group
                            display: flex
                            flex-direction: column
                            margin-bottom: 5%
                            label
                                font-size: 18px
                                margin-bottom: 1%
                            input
                                padding: 5px
                                font-size: 15px
                            textarea
                                text-align: justify
                                padding: 10px 20px
                                min-height: 180px
                                max-height: 180px
                                max-width: 100%
                                min-width: 100%
                    .btn_control
                        width: 100%
                        display: flex
                        justify-content: center
                        button
                            margin: 0 5%

                    .estados_cont
                        display: flex
                        flex-direction: column
                        .estados_group
                            width: 60%
                            margin: 1% auto
                            display: flex
                            flex-direction: column
                            label
                                font-size: 18px
                                margin-bottom: 1%
                            input
                                padding: 5px
                    .estados__grid
                        margin-top: 5%
                        display: flex
                        justify-content: space-evenly
                        flex-wrap: wrap
                        gap: 10px
                        .item_estado
                            width: 30%
                            display: flex
                            flex-direction: column
                            background: $blanco
                            border: 1px solid #D3D3D3
                            box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75)
                            -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75)
                            -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75)
                            a
                                padding: 5px
                                text-decoration: none
                                display: flex
                                flex-direction: column
                                img
                                    width: 50%
                                    margin: auto
                                span
                                    font-size: 20px
                                    font-weight: bold
                                    text-align: center
                                    color: $verde
                            button
                                width: 50%
                                margin: 5% auto
                            .edit_estado
                                margin-top: 15%
                                display: flex
                                flex-direction: column
                                div
                                    display: flex
                                    flex-direction: column
                                    width: 95%
                                    margin: auto
                                    margin-bottom: 4%
                                    input
                                        padding: 5px
                            .edit__estados_F
                                width: 100%
                                display: flex
                                flex-direction: column
                                justify-content: center
                                margin: auto
                                margin-bottom: 5%
                                div
                                    margin: auto
                            &:first-of-type
                                grid-area: estado1
                            &:nth-of-type(2)
                                grid-area: estado2
                            &:nth-of-type(3)
                                grid-area: estado3
                            &:last-of-type
                                grid-area: estado4
                    .container__projects
                        width: 75%
                        margin: auto
                        display: flex
                        flex-direction: column
                        flex-wrap: wrap
                        gap: 30px
                        .container_project
                            box-shadow: -1px 2px 5px 1px rgba(0,0,0,0.75)
                            -webkit-box-shadow: -1px 2px 5px 1px rgba(0,0,0,0.75)
                            -moz-box-shadow: -1px 2px 5px 1px rgba(0,0,0,0.75)
                            padding: 5%
                            width: 100%
                            display: flex
                            flex-direction: column
                            gap: 10px
                            h2
                                color: $verde
                                text-align: center
                            input[type='text']
                                padding: 5px
                            img 
                                width: 100%
                            label
                                padding: 5px
                            article
                                text-align: justify
                            .desc_corta
                                margin: auto
                                padding: 5px
                            .desc_larga
                                padding: 5px
                            .btn__controls
                                width: 100%
                                display: flex
                                justify-content: center
                                .btn_info,
                                .btn_danger,
                                .btn_success
                                    margin: 0 5px
                                    width: 30%        
                        .project_add_form
                            margin-bottom: 5%
                            display: flex
                            flex-direction: column
                            gap: 10px
                            .form_btn_group
                                margin-bottom: 10%
                            .form_add_group
                                display: flex
                                flex-direction: column
                                gap: 10px
                                label
                                    img
                                        width: 10%
                                input[type='file']
                                    display: none
                                input[type='text']
                                    padding: 5px
                                    font-size: 18px
                                textarea
                                    text-align: left
                                    font-size: 15px
                                    padding: 10px
                                    max-width: 500px
                                    min-width: 100%
                                    max-height: 100px
                                    min-height: 100px
                                span
                                    font-size: 18px
                    .container_add_que_hacemos
                        width: 95%
                        margin: auto
                        margin-bottom: 5%
                        display: flex
                        gap: 20px
                        flex-direction: column
                        .group-form
                            width: 95%
                            margin: auto
                            display: flex
                            flex-direction: column
                            input
                                padding: 5px
                            textarea
                                min-width: 100%
                        .group-form-btn
                            width: 95%
                            margin: auto
                    .container_edit_que_hacemos
                        width: 100%
                        display: flex
                        justify-content: space-evenly
                        flex-wrap: wrap
                        gap: 20px
                        .item_que_hacemos
                            width: 45%
                            padding: 20px
                            background: #FFFFFF
                            border-top: 5px solid $verde
                            box-shadow: 0 0 3px rgba(0, 0, 0, .5)
                            display: flex
                            flex-direction: column
                            justify-content: center
                            align-items: center
                            .group_que_hacemos
                                display: flex
                                justify-content: center
                                flex-direction: column

                                .card__img
                                    background: $verde
                                    margin: auto
                                    margin-top: 20px
                                    margin-bottom: 5%
                                    width: 80px
                                    height: 80px
                                    border-radius: 50%
                                    display: flex
                                    justify-content: center
                                    align-items: center
                                    .label_up
                                        cursor: pointer
                                        background: #FFF
                                        border-radius: 50%
                                        width: 50%
                                        img
                                            width: 100%
                                    input[type='file']
                                        display: none
                                    
                                h2
                                    text-align: center
                                p
                                    text-align: justify
                                    font-size: 18px
                                    
                                input[type='text']
                                    padding: 5px
                                    margin-bottom: 5%
                                textarea
                                    min-width: 400px
                                    max-width: 400px
                                    min-height: 200px
                                    max-height: 200px
                            .group__btn_que_hacemos
                                width: 100%
                                margin-top: 5%
                                display: flex
                                justify-content: center
                                .btn_info,
                                .btn_danger
                                    margin: 0 5%
                                    width: 30%
                .btn_control_innovacion
                    display: flex
                    justify-content: space-evenly
                    margin-bottom: 2%
                .contenido__innovacion
                    display: flex
                    justify-content: space-evenly
                    align-items: center
                    margin-bottom: 2%
                    label
                    input[type='file']
                        display: none
                    img
                        width: 45%
                    p
                        width: 50%
                        text-align: justify
                    textarea
                        min-width: 100%
                        min-height: 150px
                        max-height: 150px
                        padding: 10px 20px
                        font-size: 15px
                        text-align: justify
                .contenido__innovacion_ed
                    flex-direction: column
                    label
                        margin-bottom: 2%
                        width: 10%
                        display: flex
                        justify-content: center
                        img
                            margin: auto
                input
                    width: 70%
                    margin: auto
                    margin-bottom: 2%
                    padding: 5px
            
                //     
                // hr
                //     border: 1px solid #D3D3D3
    .dashboard-header
        display: flex
        flex-direction: column
        .logo
            background: $blanco
            width: 50%
            margin: auto
            margin-top: 10%
            margin-bottom: 5%
            img
                width: 100%

        ul
            background: $verde-transparencia
            display: flex
            flex-direction: column
            li
                list-style: none
                display: block
                cursor: pointer
                a
                    display: block
                    padding: 20px
                    font-weight: lighter
                    letter-spacing: 2px
                    color: #FFFFFF
                    text-decoration: none
                    &:hover
                        cursor: pointer
                        background: $colorActive
                        
                    &.active
                        background: $colorActive
                        color: $blanco
    main
        display: flex
        .main
            width: 90%
            margin: auto
            display: flex
            align-items: center
            justify-content: space-between
            h3
                color: $verde
